footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 7%;
	background-color: black;
	text-align: center;
	color: white;
}

li {
	display: block;
	border-bottom: solid black 1px;
	padding: 10px 20px 10px 20px;
	text-align: center;
}
#options {
	
	position: fixed;
	right: 0px;
	top: 93.5px;
	list-style-type: none;
	font-size: 125%;
	background-color: rgba(255,255,255,0.6);
	width: 223px;
	height: 600px;
	padding-left: 0px;
}
#options  :hover {
	display: block;
	background-color: rgba(255,255,255,1.0);
    color: black;

}
#options a {
	list-style-type: none;
	text-decoration: none;
	color: black;
	font-size: 105%;
	
}
#title {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000014;
	text-align: center;
	color: #dadaef;
	width: 100%;
	height: 15%;
	font-size: 120%;
}
#image {
	position: fixed;
	bottom: 53px;
	left: 213px;
}
body {
	background-image: url(img/bg1.jpg);
}
#main {
	position: relative;
	width: 75%;
	height: 100%;	
}
#start {
	position: fixed;
	bottom: 310px;
	left: 690px;
	font-size: 400%;
	text-decoration: none;
	color: white;
	transition: linear 0.15s;
}
#start:hover {
	font-size: 500%;
	transition: linear 0.15s;
}
h2 {
	margin-top: 15px;
}
#verhaal {
	position: fixed;
	left: 0px;
	top: 113.5px;
	width: 183px;
	height: 575px;
	background-color: rgba(255,255,255,0.6);
	padding: 10px 15px 10px 15px;
}
#p {
	font-size: 104%;
}
#p2 {
	font-size: 104%;
}
#p3 {
	font-size: 104%;
}
#h1 {
	margin-top: 30px;
}
#midden {
	color: white;
	font-size: 450%;
	position: fixed;
	top: 350px;
	left: 440px;
	display: none;
}
#dood {
	position: fixed;
	bottom: 330px;
	left: 500px;
	font-size: 600%;
	text-decoration: none;
	padding: 30px;
}
#img2 {
	position: absolute;
	top: 470px;
	left: 500px;
	display: none;
}
#img3 {
	position: absolute;
	top: 550px;
	left: 850px;
	display: none;
}          
#inv {
	position: fixed;
	right: 0px;
	top: 540px;
	font-size: 125%;
	background-color: rgba(255,255,255,0.6);
	width: 223px;
	height: 200px;
	padding-left: 0px;

}
h3 {
	position: relative;
	bottom: 15px;
	border-bottom: 1px solid black;
	text-align: center;
}
h5 {
	position: relative;
	bottom: 15px;
	
}
#sch {
	display: none;
}
#tou {
	display: none;
}